nav#navbar {
    padding: 20px 0;
    width: 100vw;
}
div.navbar {
    padding: 10px;
}

div.bottom-margin {
    margin-bottom: 90px;
}

div#footer {
    padding-bottom: 20px;
    margin-top: 20px;
    gap: 50px;
}

div.panel {
    padding: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
div.box {
    gap: 15px;
}
div.container {
    gap: 10px;
}
div.input-feedback {
    gap: 3px;
}
div.small-gap {
    gap: 5px;
}

button {
    padding: 5px 10px 5px 10px;
    gap: 5px;
}

textarea {
    padding: 5px;
}

@media screen and (max-width: 850px) {
    div.panel {
        padding: 25px;
        margin-left: 5px;
        margin-right: 5px;
    }
    div.label-input {
        gap: 2px;
    }
}